<form class="form-horizontal" action="<%= "/people/#{@person.id}" %>" method="post">

  <div class="form-group">
    <input type="hidden" name="_method" value="put"/>
    <%= erb :"/people/_form" %>
  </div>

</form>