<form class="form-horizontal" action="/people" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" class="form-control" name="first_name"/>
  </div>

  <div class="form-group">
    <label for="last_name">Last Name:</label>
    <input type="text" class="form-control" name="last_name"/>
  </div>

  <div class="form-group">
    <label for="birthdate">Birthdate:</label>
    <input type="text" class="form-control" name="birthdate"/>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-warning">Submit</button>
  </div>
</form>