<div class="row">

  <article class="col-md-7 col-sm-11">
    <p>One tends to think of the study of pure number as an esoteric pursuit. But for the ancient Maya, particularly when it came to temporal matters, numbers were more than mere devices to tally units of time. In stark contrast to the Western calendar, in the Maya realm of timekeeping the duration between ritual events seems to have mattered as much as the times when the events themselves occurred. </p>

    <p>The daykeepers of the Maya codices sequenced the intervals followed well-defined patterns, which reveal an array of motives for the Maya way of structuring time. Think of it this way: Those who blindly add numbers randomly without understanding the integrated nature of the whole are like spiders who have lost touch with the brilliant architecture of their <span>webs</span>, and are now just stringing lines here and there randomly, creating only chaos and confusion.</p>
  </article>

  <form class="form-inline panel col-md-5 col-sm-11 bg__color--orange"action="/" method="post">

    <h2 class="">Numerology Calculator</h2>

    <label for="birthdate">Enter your birthdate:</label>
    <div class="input-group">
      <input type="date" class="form-control" name="birthdate" placeholder="MMDDYYYY">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
      </span>
    </div>
    <!-- /input-group -->

<!--     <section class="form-group">

      <label for="birthdate">Enter your birthdate:</label>

      <input class="form-control" type="text" name="birthdate">

      <input class="btn btn-warning" type="submit"> -->

      <h4 class=""><%= @error %></h4>

    </section>

  </form>

</div>